<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实时监控</title>
</head>
<link rel="stylesheet" href="../viewcss/index.css"/>
<link rel="stylesheet" href="../css/bootstrap.css">
<!-- If you'd like to support IE8 -->
<link href="https://cdn.bootcdn.net/ajax/libs/toastr.js/2.1.3/toastr.css" rel="stylesheet">
<script src="../scripts/jquery.js"></script>
<script src="../scripts/bootstrap.js"></script>
<script src="../js/ezuikit.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>
<script src="../js/extend.js"></script>

<body>
	<div class="head">
	    <h1>视频安监</h1>
	</div>
	
	<div style="width: 100%;">
		<div class="videoSingle">
		    <div class="video col-md-4 col-lg-4">
		        <div class="input-group">
		            <input  type="text" id="url1" class="form-control" placeholder="播放地址">
		            <span class="input-group-btn">
		                 <button class="btn btn-default" type="button" onclick="playVideo(1)">播放</button>
		             </span>
		        </div><!-- /input-group -->
		        <div style="height: 100%;width: 100%;position: relative;">
		            <div id="playercontainer1" style="background-color: #000"></div>
		            <canvas id="canvas1" style="position: absolute;height: 100%;top: 0;width: 100%"></canvas>
		        </div>
		    </div>
		    <div class="video col-md-4 col-lg-4">
		        <div class="input-group">
		            <input type="text" id="url2" class="form-control" placeholder="播放地址">
		            <span class="input-group-btn">
		                 <button class="btn btn-default" type="button" onclick="playVideo(2)">播放</button>
		                 </span>
		        </div><!-- /input-group -->
		        <div style="height: 100%;width: 100%;">
		            <div id="playercontainer2" style="background-color: #000"></div>
		            <canvas id="canvas2" style="position: absolute;height: 100%;top: 0;width: 100%"></canvas>
		        </div>
		    </div>
		    <div class="video col-md-4 col-lg-4">
		        <div class="input-group">
		            <input type="text" id="url3" class="form-control" placeholder="播放地址">
		            <span class="input-group-btn">
		                 <button class="btn btn-default" type="button" onclick="playVideo(3)">播放</button>
		             </span>
		        </div><!-- /input-group -->
		        <div style="height: 100%;width: 100%;">
		            <div id="playercontainer3" style="background-color: #000"></div>
		            <canvas id="canvas3" style="position: absolute;height: 100%;top: 0;width: 100%"></canvas>
		        </div>
		    </div>
			
			<div style="clear: both;"></div>
		</div>
	</div>
	
	<div class="div_bottom">
	    <div class="div_bottom_left">
	        <div class="div_bottom_img">
	            <img class="bottom_img" id="bottom_img1" src="http://localhost:8001/images/map.jpeg"/>
	        </div>
	        <div class="div_bottom_img">
	            <img class="bottom_img" id="bottom_img2" src="http://localhost:8001/images/map.jpeg"/>
	        </div>
	        <div class="div_bottom_img">
	            <img class="bottom_img" id="bottom_img3" src="http://localhost:8001/images/map.jpeg"/>
	        </div>
	    </div>
	    <div class="div_bottom_right">
	        <div class="div_scroll">
	            <div class="realTimeViolation">
	                <span>设备E234234523发生安全帽未佩戴告警</span>
					<a href="javascript:void();">进入</a>
	            </div>
	            <div class="realTimeViolation">
	                <span>设备E234233323着装不正确告警</span>
	                <a href="javascript:void();">进入</a>
	            </div>
	            <div class="realTimeViolation">
	                <span>设备E234234523发生安全帽未佩戴告警</span>
	                <a href="javascript:void();">进入</a>
	            </div>
	            <div class="realTimeViolation">
	                <span>设备E234234523发生安全帽未佩戴告警</span>
	                <a href="javascript:void();">进入</a>
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>
<script src="../js/index.js"></script>