.head{
    height: 200px;
    width: 100%;
    background: url("../images/head.png");
    background-size: 100% 100%;
}

.head h1 {
	float: right;
	margin-right: 160px;
	color: #ffffff;
	line-height: 160px;
	font-size: 60px;
}

#div-condition {
	width: 80%;
	margin: 0 auto;
	margin-top: 30px;
}

.div_query {
    float: left;
    margin-right: 10px;
}

#detectType {
	height: 26px;
	width: 100px;
}
#deviceId {
    height: 26px;
    width: 100px;
}
#deviceType {
    height: 26px;
    width: 100px;
}

#time1, #time2 {
	width: 150px;
}

.div_query button {
	height: 26px;
	width: 60px;
	line-height: 15px;
}

#news_table{
    width: 80%;
    margin: 0 auto;
	margin-top: 20px;
}
#page {
    width: 100%;
    padding-bottom: 10px;
    margin-top: 10px;
}

#table tbody tr td {
    border: 1px solid transparent !important;
    cursor: pointer;
	line-height: 75px !important;
	height: 100px;
}

.btn-video {
	width: 60px;
	height: 26px;
	line-height: 14px !important;
}

.table_header{
    clear: both;
    height: 40px;
    padding: 0px;
    border-top: 1px solid #ddd;
    border-bottom: 2px solid rgb(21,102,93);
    font-weight: bold;
    text-align: center;
}
.table_header_column {
    float: left;
    padding-bottom: 12px;
    height: 20px;
    margin-top: 10px;
}
.bootstrap-table{
    /*font-weight: bold;*/
}

.fixed-table-container {
    border: none !important;
    height: 630px;
}